.social_link_list {}

section p {
  text-align: justify;
}

.home_title {}

.home_title svg {
  height: 4rem;
}

.title_avatar_div {
  display: flex;
  flex-direction: row;
}

.avatar_container {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  transition: all 0.2s;
}

.avatar_container:hover {
  transform: scale(1.4);
}

.avatar {}

.bio_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social_link_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}