.social_link_item {
  margin: 15px 0;
  transition: all 0.2s;
}

.social_link_item:hover {
  margin: 15px 0;
  transform: scale(1.2);
}

.link {
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.link:hover {
  background-color: rgb(72, 204, 160);
  /* font-size: 1.2em; */
}

.no_decoration{
  text-decoration: none;
}

.link_text{
  padding-left: 10px;
}