@media screen and (max-width: 600px) {
  .nav_link {
    padding: 10px;
  }
}

@media screen and (min-width: 600px) {
  .nav_link {
    padding: 20px;
  }
}

.nav_link_container {
  padding: 20px;
  position: relative;
  justify-content: center;
  vertical-align: middle;
}


.nav_link:hover {
  color: var(--text-color-link);
  /* font-size: 1.1em; */
}

.nav_link_text {
  transition: all 0.2s;
}

.nav_link_text {

  transform: scale(1.2);
}


.no_decoration {
  text-decoration: none;
}

.active {
  background-color: lightblue;
  border-radius: 10px;
  border: 1px solid;
  border-color: grey;
}

.active_bar {
  position: absolute;
  bottom: 0px;
  height: 4px;
  left: 0;
  right: 0;
  z-index: 1;
}

.welcome {
  margin-left: -300px;
}