@media screen and (max-width: 600px) {
  .content-container {
    width: 90vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .content-container {
    width: 60vw;
  }
}

@media screen and (min-width: 1200px) {
  .content-container {
    width: 40vw;
  }
}


html {
  /* background-color:moccasin ; */
}

body {
  height: 100%;
  overflow-y: scroll;
}

@keyframes page_load {
  0% {
    opacity: 0;
    /* transform: translateY(-500px); */
  }

  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  animation: page_load 3s ease-in;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex: 1 0 auto;
  animation: page_load 2s;
}


.no_decoration {
  text-decoration: none;
  color: var(--text-color-on-primary);
}

/* 
.link {
  padding: 10px;
  border-radius: 10px;
}

.link:hover {
  background-color: aquamarine;
} */

.name {
  text-decoration: none;
  /* color: black; */
}

img {
  width: 500px;
  height: 300px;
}