html{
  height: 100%;
}

body{
  height: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60vh;
  justify-content: center;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: antiquewhite;
}

header div {
  padding: 10px;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.no-decoration:hover {
  text-decoration: underline;

}

ul{
}

li{
  margin: 10px 0;
}
.link {
  padding: 10px;
  border-radius: 10px;
}

.link:hover {
  background-color: aquamarine;
}

.name {
  text-decoration: none;
  color: black;
}

.nav-link {
  padding: 10px;
}

.active {
  background-color: lightblue;
  border-radius: 10px;
  border: 1px solid;
  border-color: grey;
}

button {
  background-color: white;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
  padding-bottom: 20px;
}